// variables
// light theme
$color1: hsl(0, 0%, 98%); //common heading for both light and dark
$color2: hsl(236, 33%, 92%);
$color3: hsl(233, 11%, 84%);
$color4: hsl(236, 9%, 61%);
$color5: hsl(235, 19%, 35%);
$color6: #fff;
$color7: hsl(220, 98%, 61%);

// themes
.app {
  &--dark {
    $color1: hsl(235, 21%, 11%);
    $color2: hsl(235, 24%, 19%);
    $color3: hsl(234, 39%, 85%);
    $color4: hsl(236, 33%, 92%);
    $color5: hsl(234, 11%, 52%);
    $color6: hsl(233, 14%, 35%);
    $color7: hsl(237, 14%, 26%);
  }
}

// box shadow
$box-shadow: 0px 35px 50px -15px rgba($color4, 0.5);

// border-radius
$border-radius: 0.5rem;
