@import "../../sass/mixins";
@import "../../sass/variables";

.items {
  margin-top: 4rem;
  background-color: var(--card);
  border-radius: $border-radius;
  box-shadow: 0px 35px 50px -15px var(--boxShadow);
  overflow-y: scroll;
  // max-height: 20rem;
  // margin-bottom: 1.6rem;

  @include breakpoint-up(large) {
    // max-height: 40rem;
  }

  &__list > * {
    border-bottom: 1px solid var(--circle);
  }

  // item metrics
  &__metric {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 0.1rem;
    letter-spacing: -0.19px;
    background-color: var(--card);
    color: var(--statusBar);
    cursor: pointer;
    padding: 2rem 2rem;
    @include breakpoint-up(large) {
      padding: 2rem 2.4rem;
    }
  }

  &__left,
  &__clear {
    transition: all 0.3s ease;

    @include breakpoint-down(tablet-landscape) {
      font-size: 1.2rem;
      letter-spacing: -0.17px;
    }

    &:hover {
      color: var(--statusBarHover);
    }
  }

  // item status
  &__status {
    display: flex;
    align-items: center;
    gap: 1.9rem;
    font-weight: 700;

    & > * {
      transition: all 0.3s ease;
    }

    & > *:hover {
      color: var(--statusBarHover);
    }

    &--active {
      color: var(--commonColor);
    }

    @include breakpoint-down(tablet-landscape) {
      display: none;
    }
  }
}

.caption {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.19px;
  margin-top: 4.9rem;
  text-align: center;
  color: var(--formPlaceholderText);
  margin-bottom: 4rem;
}
