// @import "./sass/variables";
@import "./sass/mixins";

:root {
  --logo: #fff;
  --formPlaceholderText: #9394a5;
  --statusBar: #9394a5;
  --statusBarHover: #484b6a;
  --todoTitle: #484b6a;
  --card: #fff;
  --circle: #e4e5f1;
  --boxShadow: rgba(194, 194, 214, 0.5);
  --completed: #d2d3db;
  --body: #fafafa;
  --commonColor: hsl(220, 98%, 61%);
}

::-webkit-scrollbar {
  display: none;
}

.dark-theme {
  --formPlaceholderText: #777a92;
  --statusBar: #777a92;
  --statusBarHover: #e4e5f1;
  --todoTitle: #cacde8;
  --card: #25273c;
  --circle: #393a4c;
  --boxShadow: rgba(0, 0, 0, 0.5);
  --completed: #4d5066;
  --body: #161722;
}

/* initial resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--body);
  transition: all 0.5s ease;
}

// utilities
.container {
  max-width: 60rem;
  width: 90%;
  margin: 0 auto;
}
